{% extends "base.html" %}
{% block content %}

  <style>
    :root {

      --gradient-color-first: rgb(247, 211, 185);
      --gradient-color-second: rgb(234, 144, 182);

      --button-color: rgb(36, 146, 248);
      --link: rgb(36, 146, 248);
      --white: rgb(255, 250, 245);
      --border-color: rgb(219, 229, 238);

    }

    @font-face {
      src: url("static/fonts/sans.woff2");
      font-family: sans;
    }

    body {
      margin: 0;
      padding: 0;
      font-family: sans;
    }

    #grid__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100vh;

    }

    #grid__container .login__container {
      background-image: linear-gradient(-18deg, rgb(251, 226, 65), rgb(23, 185, 188));
      padding-top: 3em;
      padding-left: 4em;
    }

    #grid__container .form__heading {
      font-weight: 300;
      font-size: 44px;
      margin-bottom: 1.5em;
      text-shadow: -2px -1px 1px black;
    }

    .txt:focus {
      border-bottom-color: var(--link);
      outline: none;
    }

    #grid__container .txt {
      display: block;
      border-top-width: 0;
      border-right-width: 0;
      border-left-width: 0;
      padding: 1em;
      font-size: 17px;
      border-bottom-width: 2px !important;
      margin-bottom: 3em;
      width: 50%;
      background-color: var(--white);
    }


    ::-webkit-input-placeholder {
      font-size: 13px;
      color: rgb(19, 52, 82);
      letter-spacing: 2px;
      font-weight: 500;
    }

    .login__container .btn {
      font-weight: 500;
      background-color: var(--button-color);
      color: rgb(255, 255, 255);
      padding: 14px;
      font-size: 13px;
      letter-spacing: 2px;
      width: 9em;
      margin: 16px 0 16px 0;
      border-radius: 60px;
      border-style: none;
      text-align: center;
      display: block;
      cursor: pointer;
    }

    .login__container p,
    li {
      display: inline-block;
      color: grey;
    }

    a>li {
      list-style: none;
      color: var(--link) !important;
      text-decoration: none;
      font-weight: 500;
      margin: 24px 0 22px 0;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 2px;
    }

    #image__container {
      background-color: rgb(255, 235, 223);
      display: grid;
      background-image: url(static/images/farm.jpg);
      background-position: center;
      background-size: cover;
    }

    #image__container>img {
      align-self: center;
      position: relative;
      left: 24%;
      right: 50%;
      display: none;
    }

    p.error {
      background-color: rgb(249, 249, 249);
      padding: 10px;
      width: 50%;
      border-left: 3px solid rgb(219, 60, 49);
      color: black !important;
      letter-spacing: 1px;
      box-shadow: 0 2px 3px grey;

    }

    img.error-icon {
      position: relative;
      top: -2px !important;
    }

    span.err__text {
      position: relative;
      top: -9px;
      left: 4px;
    }

    button.btn:hover {
      box-shadow: 0 2px 3px grey;
      transition: .2s ease-in;
    }

    @media only screen and (max-width:850px) {
      body {
        background-color: var(--white);
      }

      #grid__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
      }

      #image__container {
        display: none !important;
      }

      p.error {
        width: 90%;
      }
    }
  </style>
  <div id="grid__container">
    <section class="login__container">
      <h2 class="form__heading">Reset Password</h2>
      <form enctype="multipart/form-data" accept="utf-8" action="/forgot_password" method="post">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{message}}</div>
        {%endfor%} {% if error %}
        <p class="error">
          <img src="../static/images/icon_error.png" class="error-icon">
          <span class="err__text">Error: {{ error }}</span>
          {% endif %}
        </p>

        <input type="tel" name="phone_num" class="txt" placeholder="Phone Number" autocomplete required>
        <input type="radio" name="account_type" value="seller" required>seller</input>
        <input type="radio" name="account_type" value="buyer" required>Buyer</input>
        <input type="password" name="password" class="txt" placeholder="PASSWORD" autocomplete required>

        <a href="/forgot_password">
          <li>FORGOT PASSWORD?</li>
        </a>

        <button class="btn" value="LOGIN">LOGIN</button>

        <p>Don't have an account?</p>
        <a href="/signup">
          <li>&nbsp;&nbsp;&nbsp;CREATE ONE</li>
        </a>

      </form>
    </section>

    <section id="image__container">
      <img src="static/images/login-char.png" alt="Hello User" class="image">
    </section>


  </div>
{% endblock %}