{% extends "base.html" %}
{% block content %}

<!-- Hero -->
<section class="hero is-medium is-primary is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title hero-title">
        Built For Farmers
      </h1>
      <h2 class="subtitle hero-subtitle">
        Ye Hey Apni Dukaan
      </h2>
    </div>
  </div>
</section>
<!-- Hero end -->

<!-- tile container -->
<div class="tile is-ancestor centered space-top">
  <div class="tile is-6 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">ABOUT</p>
      <p>FarmFresh is a Portal for Farmers to
        connect with the Buyers.</p>
    </div>
    <div class="tile is-child box">
      <p class="title">HOW</p>
      <ul class="section--list">
        <li>Register For A Seller/Buyer Account</li>
        <li>Add Product To Sell/Buy</li>
        <li>Confirm With Seller/Buyer</li>
        <li>Wait For Pickup/Delivery</li>
      </ul>
    </div>

    <div class="tile is-child box">
      <p class="title">WHY</p>
      <p>Easy To Use</p>
      <p>Big MarketPlace</p>
    </div>
  </div>
</div>
<!-- tile end -->
<footer class="footer">
  <div class="container has-text-centered">
    <p class="footer-text">
      &copy; FarmFresh 2020
    </p>
</footer>
{% endblock %}
