<!--using bulma nav bar-->
  <nav class="navbar is-fixed-top is-success has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="static/logo/logo.png" width="" height="100%">
        <h1 class="navbar-brand-name">FarmFresh</h1>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item">
          Home
        </a>

        <a class="navbar-item">
          About
        </a>
        <div class="buttons">
          <a class="button is-primary" href="/register">
            <strong>Register</strong>
          </a>
          <a class="button is-warning" href="/login">
            Login
          </a>
        </div>
      </div>
    </div>
    </div>
  </nav>